.storyContainer {
    text-align: center;
    justify-items: center;
    padding: 0 10px;
}

.storyTitle {
    font-size: 16px;
    font-weight: 800px;
    text-align: center;
    justify-self: center;
    line-height: 40px;
}

.regenerateMsg {
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    background-color: red;
    opacity: 60%;
    color: white
}

.storyBody {
    margin-top: 10px;
    overflow-y: scroll;
    height: calc(100vh - 150px);
}